<h1>This is the Todos show action rendered.</h1>

<p>
  Name: <%= @todo.name %>
</p>
<p>
  Description: <%= @todo.description %>
</p>

<p>
<%= link_to "Edit", edit_todo_path(@todo)%><br>
<%= link_to "List", todos_path%>
</p>